<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.sparta.cordova.plugin.honeywell"
    version="1.0.0">

    <name>HoneywellScanner</name>

    <description>Provides access to Honeywell Captuvo bar code scanner</description>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- 
        Adds js dependency at runtime. 
        No need to use Cake to add js files to index.html
        See: http://cordova.apache.org/docs/en/3.1.0/plugin_ref_spec.md.html#Plugin%20Specification 
    -->
    <js-module src="www/honeywell.js" name="HoneywellScanner" />

    <!-- ios -->
    <platform name="ios">
        <!-- Cordova >= 2.8 -->
        <config-file target="config.xml" parent="/*">
            <feature name="HoneywellScanner">
                <param name="ios-package" value="CDVHoneywellScanner" />
            </feature>
        </config-file>

        <header-file src="src/ios/Honeywell/Captuvo.h" />
        <source-file src="src/ios/Honeywell/libCaptuvoSDK.a" framework="true" />
        <source-file src="src/ios/CDVHoneywellScanner.mm" />

        <framework src="ExternalAccessory.framework" />
        
        <!-- Add plist  -->
        <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
            <array>
                <string>com.honeywell.scansled.protocol.decoder</string>
                <string>com.honeywell.scansled.protocol.msr</string>
                <string>com.honeywell.scansled.protocol.pm</string>
            </array>
        </config-file>
        
    </platform>

</plugin>
